# The following three rules are equivalent to "ignore files without a dot in the name".
# They're useful in order to avoid putting binaries in the repository.
*
!*/
!*.*

# For pascal
*.o
*.ppu

# For python
__pycache__

# For installation
build/
dist/
gradergen.egg-info/

# For testing
pip_modules/
testing/**/*.out
testing/**/*.md5
testing/**/*grader*
testing/**/*template*
