# The following three rules are equivalent to "ignore files without a dot in the name"
# Is useful to avoid putting binaries in the repository
*
!*/
!*.*

# For pascal
*.o
*.ppu

# For python
__pycache__

# For the testsuite
testing/test*/*.out
testing/test*/*grader*
# sometimes the txt it's huge because it's generated, so exclude it:
testing/test*/input.txt
