# The following three rules are equivalent to "ignore files without a dot in the name"
# Is useful to avoid putting binaries in the repository
*
!*/
!*.*

# For pascal
*.o
*.ppu

# For python
__pycache__
