# For the testsuite
test*/*.errors
test*/*.out
test*/*.time
test*/*lib.pas
test*/*grader*
!test*/grader_description.txt
# sometimes the txt it's huge because it's generated, so exclude it:
test*/input.txt
